body {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  margin: 0px;
}

.header,
.footer,
.hero {
  background-color: #1f2937;
}

button {
  background-color: #3882f6;
  border-radius: 8px;
  border-color: white;
  border: 2px;
  color: white;
  padding: 6px 24px;
  max-width: 100px;
  max-height: 28px;
  flex: 1;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 72px;
}

.title {
  font-size: 24px;
  color: #f9faf8;
  font-weight: bold;
}

ul {
  font-size: 12px;
  display: flex;
  list-style-type: none;
  gap: 12px;
}

.hero {
  padding: 72px;
  display: flex;
  justify-content: space-between;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex: 2 1 70%;
}

.add,
ul {
  font-size: 18px;
  color: #e5e7eb;
}

.main {
  font-size: 48px;
  font-weight: extra-bold;
  color: #f9faf8;
}

.content,
.img_hold {
  min-height: 200px;
}

.img_hold {
  box-sizing: border-box;
  font-size: 12px;
  height: auto;
  background-color: darkgray;
  color: #e5e7eb;
  padding: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 0;
  min-width: 300px;
  height: 300px;
  margin-left: 48px;
}

.sec-2,
.sec-3 {
  padding: 48px auto;
  margin: 48px 0;
  text-align: center;
}

.cards {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 30px;
  min-width: 600px;
}

.card {
  font-size: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  max-width: 100px;
  margin: 8px 20px;
}

.card_hold {
  border-style: solid;
  border-color: #3882f6;
  border-radius: 8px;
  background-color: white;
  border-width: 3px;
  width: 100px;
  height: 100px;
  margin-bottom: 4px;
}

.sec-3 {
  background-color: #e5e7eb;
  padding: 72px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.quote {
  min-width: 500px;
  max-width: 90%;
  font: #1f2937;
  font-weight: 100;
  font-style: italic;
  text-align: justify;
  font-size: 24px;
}

.quote_att {
  text-align: right;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  margin-top: 12px;
}

.footer {
  font-size: 12px;
  padding: 20px;
  text-align: center;
  margin-top: auto;
}
